{{#if shouldDisplay}}
<section class="nav-cards section-container">
    <a href={{theme-i62n "card_nav.link1"}} class="nav-card">
        <span class="icon"></span>
        <h3>{{theme-i62n "card_nav.title1"}}</h3>
        <p>{{theme-i62n "card_nav.sub-title1"}}</p>
        <b class="nav-link">Learn more</b>
    </a>
    <a href={{theme-i62n "card_nav.link2"}} class="nav-card">
        <span class="icon"></span>
        <h3>{{theme-i62n "card_nav.title2"}}</h3>
        <p>{{theme-i62n "card_nav.sub-title2"}}</p>
        <b class="nav-link">Learn more</b>
    </a>
    <a href={{theme-i62n "card_nav.link3"}} class="nav-card">
        <span class="icon"></span>
        <h3>{{theme-i62n "card_nav.title3"}}</h3>
        <p>{{theme-i62n "card_nav.sub-title3"}}</p>
        <b class="nav-link">Learn more</b>
    </a>
    <a href={{theme-i62n "card_nav.link4"}} class="nav-card">
        <span class="icon"></span>
        <h3>{{theme-i62n "card_nav.title4"}}</h3>
        <p>{{theme-i62n "card_nav.sub-title4"}}</p>
        <b class="nav-link">Learn more</b>
    </a>
</section>  
{{/if}}