<a 
  href={{category.url}} 
  class="nav-card">
  data-category-id={{category.id}}
  <span class="icon">
    {{#if category.read_restricted}}
      {{d-icon "lock"}}
    {{/if}}
 </span>
  <h3>
    {{html-safe category.name}}
  </h3>
  <p>
    {{#if category.description_excerpt}}
      {{html-safe category.description_excerpt}}
    {{else}}
      No Category Description
    {{/if}}
  </p>
  <b class="nav-link">Learn more</b>
</a>